body{
    width: 100%;
    background-color: #468499;
}
div.div1{
    background-color: gray;
}

div.div1{}
div.div2{}
div.div3{}
div.div4{}
div.div6{}
div.div7{}
div.div8{}
div.div9{}
div.div10{}
div.div11{}
div.div12{}